<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TARA Autentimispäring</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="/js/ToggleVisibility.js"></script>
    <script src="/js/Polyfill.js"></script>

    <link href="/css/dynamic.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
.bitbucket-link {float: right}
    </style>
</head>
<body>
<div>
    {% form_theme form 'form.theme.twig' %}
    {{ form(form) }}
    <a href="https://bitbucket.org/alphpkeemik/tara-mock" class="bitbucket-link"><img src="https://bitbucket.org/favicon.ico" alt="Bitbucket" title="Source code on Bitbucket"></a>
    <script src="/js/ToggleVisibilityHandler.js"></script>
</div>
</body>
</html>