<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TARA-mock application</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <link href="/css/dynamic.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>Read from <a href="https://e-gov.github.io/TARA-Doku/TehnilineKirjeldus">https://e-gov.github.io/TARA-Doku/TehnilineKirjeldus</a> how this application should work.</p>
            <p><a href="https://bitbucket.org/alphpkeemik/tara-mock" class="bitbucket-link"><img src="https://bitbucket.org/favicon.ico" alt="Bitbucket" title="Source code on Bitbucket"></a></p>
        </div>
    </body>
</html>
