{% extends 'bootstrap_4_layout.html.twig' %}


    {%- block row_container_attributes -%}
        {% set attr = row_attr|default({})|merge({'class': (row_attr.class|default('') ~ ' form-group')|trim}) %}
        {{ block('attributes') }}
    {%- endblock -%}
    {% block form_row -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'fieldset' -%}
        {%- endif -%}
        {%- set widget_attr = {} -%}

        <{{ element|default('div') }} {{ block('row_container_attributes') }}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        </{{ element|default('div') }}>
    {%- endblock form_row %}